@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bebas Neue';
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
}

/* *{
    font-family: Gilroy;
} */
.bebas{
    font-family: 'Bebas Neue', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

@keyframes anime {
    from{
        transform: translateX(0%);
    }
    from{
        transform: translateX(-100%);
    }
}

.marque h1{
    animation-name: anime;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}